/******************/
/* Header */
/******************/

/* header mainly contains logo and navbar */
header {
  padding-left: 0.5em;
  padding-right: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fffbfc;

  flex-wrap: wrap;
}
/********/
/* Logo */
/********/

.logo {
  width: 100px;
  padding: 0;
  transition: transform 330ms ease-in-out;
}

/**********/
/* Navbar */
/**********/

/* Navbar links */

/* Screen is in 'portrait' orientation (mobile view), hide Navbar (Trips, Contact, Login, Register) */
/* (desktop view is handled in the media query below) */

nav ul {
  display: flex;
  flex-wrap: wrap;
}

header div {
  flex: 1 0 50%;
}

nav {
  flex: 1 0 100%;
}

/* .visible {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding-right: 3rem;
} */

.toggle {
  display: block;
  font-size: 30px;
  text-align: right;
  padding: 0.5em 1em;
  padding-right: 0.5em;
}

.fas {
  color: #28399b;
}

nav {
  display: none;
}

.item {
  width: 100%;
  text-align: center;
}

.active nav {
  display: block;
  /* background-color: #ff5a5f; */
}
.active nav ul {
  margin: 0;
}

nav a {
  display: block;
  /* font-size: bold; */
  color: #222222;
  padding: 0.5em 1em;
}

nav ul li {
  font-weight: 550;
}

/* hover, active, and current page effects */
nav a:hover {
  border: 0.5px solid #f1edee;
  border-radius: 3px;
  background-color: #f1edee;
}

nav a:active {
  border: 0.5px solid #dddbdb;
}

/* .current-page {
  background-image: linear-gradient(cornflowerblue, cadetblue);
} */

/* logo - zoom effect */

.logo:hover {
  padding-top: 0.8em;
  padding-bottom: 0.6em;
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
  transform: scale(1.4);
  /* transition: transform 330ms ease-in-out; */
}

/* Screen is in 'landscape' orientation (desktop view) */
@media (orientation: landscape) {
  header div {
    flex: auto;
  }

  nav {
    flex: none;
  }

  header {
    padding-left: 4.5em;
    padding-right: 4.5em;

    flex-direction: row;
    justify-content: space-around;
  }

  nav {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    /* align-self: flex-end; */
    /* text-align: right; */
  }

  nav a {
    padding: 0.5em 1em;
  }

  nav a:hover {
    border: 0.5px solid #f1edee;
    border-radius: 3px;
    background-color: transparent;
  }

  .item {
    width: auto;
    text-align: center;
    /* display: block; */
  }

  /* Don't show hamburger menu on desktop view */
  .toggle {
    display: none;
    width: 0%;
  }
}
